In [2]:
import gc
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.cross_validation import StratifiedKFold
from sklearn.metrics import matthews_corrcoef
from operator import itemgetter

/Users/hkwik/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [11]:
%connect_info

{
  "stdin_port": 52532,
  "ip": "127.0.0.1",
  "control_port": 52533,
  "hb_port": 52534,
  "signature_scheme": "hmac-sha256",
  "key": "6b4f8d4a-d449-41a7-b8a9-a5770fb5e975",
  "kernel_name": "",
  "shell_port": 52530,
  "transport": "tcp",
  "iopub_port": 52531
}

Paste the above JSON into a file, and connect with:
    $> ipython <app> --existing <file>
or, if you are local, you can connect with just:
    $> ipython <app> --existing /Users/hkwik/Library/Jupyter/runtime/kernel-b145caa8-4b3c-4a0d-85db-bf01a97a3760.json
or even just:
    $> ipython <app> --existing
if this is the most recent IPython session you have started.

In [6]:
def get_date_features():
    directory = 'data/'
    trainfile = 'train_date.csv'
    
    for i, chunk in enumerate(pd.read_csv(directory + trainfile,
                                          chunksize=1,
                                          low_memory=False)):
        features = list(chunk.columns)
        break

    seen = np.zeros(52)
    rv = []
    for f in features:
        if f == 'Id' or 'S24' in f or 'S25' in f:
            rv.append(f)
            continue
            
        station = int(f.split('_')[1][1:])
#        print(station)
        
        if seen[station]:
            continue
        
        seen[station] = 1
        rv.append(f)
        
    return rv
        
usefuldatefeatures = get_date_features()

In [20]:
tmp = pd.read_csv('data/train_numeric.csv', usecols=['Id', 'Response'])
#test_tmp = pd.read_csv('data/test_numeric.csv', usecols=['Id'])
#test_tmp['Respon']
tmp

              Id  Response
0              4         0
1              6         0
2              7         0
3              9         0
4             11         0
5             13         0
6             14         0
7             16         0
8             18         0
9             23         0
10            26         0
11            27         0
12            28         0
13            31         0
14            34         0
15            38         0
16            41         0
17            44         0
18            47         0
19            49         0
20            52         0
21            55         0
22            56         0
23            57         0
24            63         0
25            68         0
26            70         0
27            71         0
28            72         0
29            73         0
...          ...       ...
1183717  2367437         0
1183718  2367439         0
1183719  2367440         0
1183720  2367442         0
1183721  2367443         0
1183722  2367444         0
1183723  2367452         0
1183724  2367458         0
1183725  2367459         0
1183726  2367460         0
1183727  2367461         0
1183728  2367462         0
1183729  2367464         0
1183730  2367466         0
1183731  2367469         0
1183732  2367471         0
1183733  2367472         0
1183734  2367473         0
1183735  2367474         0
1183736  2367476         0
1183737  2367478         0
1183738  2367480         0
1183739  2367484         0
1183740  2367487         0
1183741  2367488         0
1183742  2367490         0
1183743  2367491         0
1183744  2367492         0
1183745  2367493         0
1183746  2367495         0

[1183747 rows x 2 columns]

In [23]:
merged = pd.merge(tmp, df_mindate, on='Id')
merged.loc[merged.Response == 0]

              Id  Response  mindate  mindate_id_diff  mindate_id_diff_reverse
0              4         0    82.24       -2314450.0                -224451.0
1              6         0  1313.12       -2284042.0                 -67530.0
2              7         0  1618.70       -2313512.0                 -26876.0
3              9         0  1149.20       -2196581.0                  -3564.0
4             11         0   602.64       -2226678.0                     -1.0
5             13         0  1331.66       -2307035.0                  -9079.0
6             14         0  1662.63       -2363398.0                  -6285.0
7             16         0   791.22       -2094956.0                -101101.0
8             18         0   517.64       -2356186.0                -121525.0
9             23         0   156.27       -2363501.0                  -3558.0
10            26         0  1104.78       -2365559.0                 -60909.0
11            27         0   392.85       -2353515.0                  -9571.0
12            28         0    55.44       -1929271.0                  -4199.0
13            31         0    98.99       -2349869.0                 -15324.0
14            34         0   354.51       -2336095.0                  -5871.0
15            38         0  1633.80       -2290079.0                 -70720.0
16            41         0   476.06       -2362404.0                -152165.0
17            44         0  1532.42       -2359736.0                  -4569.0
18            47         0   263.21       -2363815.0                 -23941.0
19            49         0   675.84       -2365305.0                  -2485.0
20            52         0   966.77       -2367009.0                 -64440.0
21            55         0  1341.05       -2304684.0                  -5092.0
22            56         0   886.18       -2361549.0                  -4436.0
23            57         0   609.56       -2154361.0                  -9398.0
24            63         0   656.22       -2287306.0                 -62677.0
25            68         0  1450.09        -713521.0                 -53911.0
26            70         0   187.57       -2322807.0                 -20710.0
27            71         0  1458.06       -2359135.0                  -4153.0
28            72         0  1293.17       -2314060.0                  -4480.0
29            73         0   319.66       -2310728.0                  -5381.0
...          ...       ...      ...              ...                      ...
1183717  2367437         0  1567.97              1.0                2262134.0
1183718  2367439         0   770.35           3726.0                2303768.0
1183719  2367440         0   486.82          65853.0                2350997.0
1183720  2367442         0   340.58          18069.0                1492443.0
1183721  2367443         0   790.44           6771.0                2366938.0
1183722  2367444         0   674.23           6440.0                2312546.0
1183723  2367452         0  1394.35              1.0                2331289.0
1183724  2367458         0   888.00           4192.0                2362968.0
1183725  2367459         0   113.90           9878.0                2366129.0
1183726  2367460         0   989.02           3563.0                2361950.0
1183727  2367461         0  1190.65           3969.0                2243151.0
1183728  2367462         0  1249.57          59536.0                2367366.0
1183729  2367464         0   752.61           3861.0                2300798.0
1183730  2367466         0   606.18              1.0                     -1.0
1183731  2367469         0   354.40           2969.0                2364420.0
1183732  2367471         0   795.44           7145.0                2364282.0
1183733  2367472         0  1585.25           3725.0                2360649.0
1183734  2367473         0  1412.87           2733.0                2361599.0
1183735  2367474         0   155.86           2929.0                2362810.0
1183736  2367476         0   896.98              1.0                2300717.0
1183737  2367478         0   476.03         121925.0                2347484.0
1183738  2367480         0  1239.17          10034.0                2367215.0
1183739  2367484         0   291.44           4256.0                2137530.0
1183740  2367487         0    55.44           4388.0                2360226.0
1183741  2367488         0   977.49          13618.0                2366301.0
1183742  2367490         0  1239.90         925004.0                2365689.0
1183743  2367491         0   624.22          71839.0                1572356.0
1183744  2367492         0  1482.18          53955.0                2358793.0
1183745  2367493         0   608.83           8988.0                2357190.0
1183746  2367495         0   937.61           4111.0                2366095.0

[1176868 rows x 5 columns]

In [22]:
merged.loc[merged.Response == 1]

              Id  Response  mindate  mindate_id_diff  mindate_id_diff_reverse
539         1053         1   298.91       -2176553.0                  -8355.0
633         1250         1   619.18              1.0                     -1.0
681         1350         1   640.20       -2304535.0                     -1.0
887         1793         1  1153.46       -2355033.0                     -1.0
1152        2347         1   961.65              1.0                     -1.0
1731        3527         1   251.12       -2320705.0                     -1.0
1759        3585         1   327.08         -62002.0                     -1.0
2028        4104         1   200.62       -2317757.0                     -1.0
2469        4978         1   680.65              1.0                     -1.0
2479        4998         1  1600.39           2544.0                 -10160.0
2489        5017         1   712.63           4873.0                     -1.0
2490        5018         1   712.63              1.0                     -1.0
2570        5177         1   612.45        -741959.0                     -1.0
2571        5178         1   612.45              1.0                     -1.0
2572        5179         1   612.45              1.0                     -1.0
2952        5919         1   922.20           1463.0                 -54072.0
2974        5974         1   773.18       -2344532.0                     -1.0
3134        6310         1  1397.72       -2278430.0                     -1.0
3515        7018         1   466.83              1.0                     -1.0
3726        7414         1   408.63           2654.0                     -1.0
3783        7529         1  1331.16       -2357541.0                     -1.0
3793        7556         1   634.52           7411.0                  -3646.0
3969        7944         1  1643.29           1773.0                     -1.0
4027        8051         1   943.16              1.0                     -1.0
4208        8389         1   257.40       -2356124.0                     -1.0
4607        9185         1  1511.54       -2296503.0                     -1.0
4680        9310         1   792.23       -2341368.0                     -1.0
4707        9368         1   708.96              1.0                     -1.0
4721        9391         1   190.90           5136.0                     -1.0
4725        9401         1  1499.82           3235.0                     -1.0
...          ...       ...      ...              ...                      ...
1179216  2358368         1   618.67            898.0                  -2372.0
1179411  2358767         1   912.94           7877.0                     -1.0
1179445  2358828         1   662.62        1630327.0                     -1.0
1179527  2359000         1   204.95          12469.0                     -1.0
1179827  2359612         1   232.09          52953.0                     -1.0
1180250  2360460         1   962.60            469.0                  -2389.0
1180336  2360663         1  1331.13              1.0                     -1.0
1180633  2361261         1   662.63        1123861.0                     -1.0
1180745  2361466         1   415.71           3782.0                     -1.0
1180835  2361638         1  1658.83           5700.0                2306493.0
1180867  2361690         1   566.34           8918.0                2313401.0
1180968  2361885         1   912.95              1.0                     -1.0
1181307  2362586         1  1363.59              1.0                     -1.0
1182009  2364000         1   634.83           3951.0                  -3188.0
1182013  2364009         1   255.44           1416.0                     -1.0
1182410  2364844         1   680.98          11604.0                     -1.0
1182423  2364867         1   606.10          52139.0                     -1.0
1182441  2364898         1   694.35          60585.0                     -1.0
1182688  2365393         1   448.83              1.0                     -1.0
1182769  2365555         1  1599.31          28088.0                     -1.0
1182795  2365611         1   961.47          84624.0                     -1.0
1182803  2365624         1   962.77           2244.0                     -1.0
1182922  2365868         1   422.94           2912.0                     -1.0
1182924  2365878         1   670.62           5885.0                     -1.0
1182925  2365879         1   670.62              1.0                     -1.0
1183037  2366099         1   554.69          11623.0                     -1.0
1183052  2366124         1  1547.21           4688.0                     -1.0
1183093  2366209         1   889.29          62884.0                     -1.0
1183242  2366505         1   188.96            922.0                2309211.0
1183337  2366692         1   677.68           7601.0                     -1.0

[6879 rows x 5 columns]

In [25]:
df_mindate.head()

            Id  mindate  mindate_id_diff  mindate_id_diff_reverse
255472  510783     0.00              NaN                -140759.0
325556  651542     0.00         140759.0                 543349.0
54038   108193     0.01        -543349.0                -322219.0
215108  430412     0.01         322219.0                 -13085.0
221628  443497     0.01          13085.0                 -69868.0

In [59]:
base = tmp.copy()

In [72]:
base_test = pd.read_csv('data/test_categorical.csv', nrows=10000, index_col=0, low_memory=False)

In [76]:
base_test.loc[6171].unique()

array([nan, 'T1'], dtype=object)

In [78]:
base[base.Id == 7944]

        Id  Response cat0 cat1 cat2 cat3 cat4
3969  7944         1   T1  NaN  NaN  NaN  NaN

In [79]:
base[base.Id == 7945]

        Id  Response cat0 cat1 cat2 cat3 cat4
3970  7945         0   T1  NaN  NaN  NaN  NaN

In [60]:
# load categoricals by chunk
def notnull_colsbyrow(df, index):
    present = df.loc[index].notnull()
    colindices = present[present == True].index
    return df.loc[index,colindices]

cat_iter = pd.read_csv('data/train_categorical.csv', chunksize=10000, index_col=0)


for chunk in cat_iter:
    for index in chunk.index:
        present = notnull_colsbyrow(chunk, index)

        count = 0
        for i in present.unique():
            base.loc[index, 'cat%d' % count] = i
            count += 1
            
        #base.loc[index, 'cat_uniques'] = list(present.unique())
        #if index > 1100:
        #    break
    break

In [64]:
cat_merge = pd.merge(base, df_mindate, on='Id')
cat_merge[cat_merge.Response == 0]

,Id,Response,cat0,cat1,cat2,cat3,cat4,mindate,mindate_id_diff,mindate_id_diff_reverse
0,4,0,NaN,NaN,NaN,NaN,NaN,82.24,-2314450.0,-224451.0
1,6,0,NaN,NaN,NaN,NaN,NaN,1313.12,-2284042.0,-67530.0
2,7,0,NaN,NaN,NaN,NaN,NaN,1618.70,-2313512.0,-26876.0
3,9,0,NaN,NaN,NaN,NaN,NaN,1149.20,-2196581.0,-3564.0
4,11,0,NaN,NaN,NaN,NaN,NaN,602.64,-2226678.0,-1.0
5,13,0,NaN,NaN,NaN,NaN,NaN,1331.66,-2307035.0,-9079.0
6,14,0,NaN,NaN,NaN,NaN,NaN,1662.63,-2363398.0,-6285.0
7,16,0,T1,NaN,NaN,NaN,NaN,791.22,-2094956.0,-101101.0
8,18,0,NaN,NaN,NaN,NaN,NaN,517.64,-2356186.0,-121525.0
9,23,0,T1,NaN,NaN,NaN,NaN,156.27,-2363501.0,-3558.0
10,26,0,NaN,NaN,NaN,NaN,NaN,1104.78,-2365559.0,-60909.0
11,27,0,T1,NaN,NaN,NaN,NaN,392.85,-2353515.0,-9571.0
12,28,0,NaN,NaN,NaN,NaN,NaN,55.44,-1929271.0,-4199.0
13,31,0,T1,NaN,NaN,NaN,NaN,98.99,-2349869.0,-15324.0
14,34,0,T1,NaN,NaN,NaN,NaN,354.51,-2336095.0,-5871.0
15,38,0,NaN,NaN,NaN,NaN,NaN,1633.80,-2290079.0,-70720.0
16,41,0,T3,T1,T145,NaN,NaN,476.06,-2362404.0,-152165.0
17,44,0,NaN,NaN,NaN,NaN,NaN,1532.42,-2359736.0,-4569.0
18,47,0,T1,NaN,NaN,NaN,NaN,263.21,-2363815.0,-23941.0
19,49,0,NaN,NaN,NaN,NaN,NaN,675.84,-2365305.0,-2485.0
20,52,0,NaN,NaN,NaN,NaN,NaN,966.77,-2367009.0,-64440.0
21,55,0,NaN,NaN,NaN,NaN,NaN,1341.05,-2304684.0,-5092.0
22,56,0,NaN,NaN,NaN,NaN,NaN,886.18,-2361549.0,-4436.0
23,57,0,T1,NaN,NaN,NaN,NaN,609.56,-2154361.0,-9398.0
24,63,0,NaN,NaN,NaN,NaN,NaN,656.22,-2287306.0,-62677.0
25,68,0,NaN,NaN,NaN,NaN,NaN,1450.09,-713521.0,-53911.0
26,70,0,NaN,NaN,NaN,NaN,NaN,187.57,-2322807.0,-20710.0
27,71,0,T1,NaN,NaN,NaN,NaN,1458.06,-2359135.0,-4153.0
28,72,0,T1,NaN,NaN,NaN,NaN,1293.17,-2314060.0,-4480.0
29,73,0,NaN,NaN,NaN,NaN,NaN,319.66,-2310728.0,-5381.0
...,...,...,...,...,...,...,...,...,...,...
1183717,2367437,0,NaN,NaN,NaN,NaN,NaN,1567.97,1.0,2262134.0
1183718,2367439,0,NaN,NaN,NaN,NaN,NaN,770.35,3726.0,2303768.0
1183719,2367440,0,NaN,NaN,NaN,NaN,NaN,486.82,65853.0,2350997.0
1183720,2367442,0,NaN,NaN,NaN,NaN,NaN,340.58,18069.0,1492443.0
1183721,2367443,0,NaN,NaN,NaN,NaN,NaN,790.44,6771.0,2366938.0
1183722,2367444,0,NaN,NaN,NaN,NaN,NaN,674.23,6440.0,2312546.0
1183723,2367452,0,NaN,NaN,NaN,NaN,NaN,1394.35,1.0,2331289.0
1183724,2367458,0,NaN,NaN,NaN,NaN,NaN,888.00,4192.0,2362968.0
1183725,2367459,0,NaN,NaN,NaN,NaN,NaN,113.90,9878.0,2366129.0
1183726,2367460,0,NaN,NaN,NaN,NaN,NaN,989.02,3563.0,2361950.0
1183727,2367461,0,NaN,NaN,NaN,NaN,NaN,1190.65,3969.0,2243151.0
1183728,2367462,0,NaN,NaN,NaN,NaN,NaN,1249.57,59536.0,2367366.0
1183729,2367464,0,NaN,NaN,NaN,NaN,NaN,752.61,3861.0,2300798.0
1183730,2367466,0,NaN,NaN,NaN,NaN,NaN,606.18,1.0,-1.0
1183731,2367469,0,NaN,NaN,NaN,NaN,NaN,354.40,2969.0,2364420.0
1183732,2367471,0,NaN,NaN,NaN,NaN,NaN,795.44,7145.0,2364282.0
1183733,2367472,0,NaN,NaN,NaN,NaN,NaN,1585.25,3725.0,2360649.0
1183734,2367473,0,NaN,NaN,NaN,NaN,NaN,1412.87,2733.0,2361599.0
1183735,2367474,0,NaN,NaN,NaN,NaN,NaN,155.86,2929.0,2362810.0
1183736,2367476,0,NaN,NaN,NaN,NaN,NaN,896.98,1.0,2300717.0
1183737,2367478,0,NaN,NaN,NaN,NaN,NaN,476.03,121925.0,2347484.0
1183738,2367480,0,NaN,NaN,NaN,NaN,NaN,1239.17,10034.0,2367215.0
1183739,2367484,0,NaN,NaN,NaN,NaN,NaN,291.44,4256.0,2137530.0
1183740,2367487,0,NaN,NaN,NaN,NaN,NaN,55.44,4388.0,2360226.0
1183741,2367488,0,NaN,NaN,NaN,NaN,NaN,977.49,13618.0,2366301.0
1183742,2367490,0,NaN,NaN,NaN,NaN,NaN,1239.90,925004.0,2365689.0
1183743,2367491,0,NaN,NaN,NaN,NaN,NaN,624.22,71839.0,1572356.0
1183744,2367492,0,NaN,NaN,NaN,NaN,NaN,1482.18,53955.0,2358793.0
1183745,2367493,0,NaN,NaN,NaN,NaN,NaN,608.83,8988.0,2357190.0
1183746,2367495,0,NaN,NaN,NaN,NaN,NaN,937.61,4111.0,2366095.0

In [65]:
cat_merge[cat_merge.Response == 1]

,Id,Response,cat0,cat1,cat2,cat3,cat4,mindate,mindate_id_diff,mindate_id_diff_reverse
539,1053,1,NaN,NaN,NaN,NaN,NaN,298.91,-2176553.0,-8355.0
633,1250,1,T1,NaN,NaN,NaN,NaN,619.18,1.0,-1.0
681,1350,1,T1,NaN,NaN,NaN,NaN,640.20,-2304535.0,-1.0
887,1793,1,T1,NaN,NaN,NaN,NaN,1153.46,-2355033.0,-1.0
1152,2347,1,NaN,NaN,NaN,NaN,NaN,961.65,1.0,-1.0
1731,3527,1,NaN,NaN,NaN,NaN,NaN,251.12,-2320705.0,-1.0
1759,3585,1,NaN,NaN,NaN,NaN,NaN,327.08,-62002.0,-1.0
2028,4104,1,NaN,NaN,NaN,NaN,NaN,200.62,-2317757.0,-1.0
2469,4978,1,NaN,NaN,NaN,NaN,NaN,680.65,1.0,-1.0
2479,4998,1,NaN,NaN,NaN,NaN,NaN,1600.39,2544.0,-10160.0
2489,5017,1,T1,NaN,NaN,NaN,NaN,712.63,4873.0,-1.0
2490,5018,1,NaN,NaN,NaN,NaN,NaN,712.63,1.0,-1.0
2570,5177,1,NaN,NaN,NaN,NaN,NaN,612.45,-741959.0,-1.0
2571,5178,1,T3,T1,T145,NaN,NaN,612.45,1.0,-1.0
2572,5179,1,NaN,NaN,NaN,NaN,NaN,612.45,1.0,-1.0
2952,5919,1,T3,T1,T145,NaN,NaN,922.20,1463.0,-54072.0
2974,5974,1,NaN,NaN,NaN,NaN,NaN,773.18,-2344532.0,-1.0
3134,6310,1,NaN,NaN,NaN,NaN,NaN,1397.72,-2278430.0,-1.0
3515,7018,1,NaN,NaN,NaN,NaN,NaN,466.83,1.0,-1.0
3726,7414,1,NaN,NaN,NaN,NaN,NaN,408.63,2654.0,-1.0
3783,7529,1,NaN,NaN,NaN,NaN,NaN,1331.16,-2357541.0,-1.0
3793,7556,1,T1,T143,NaN,NaN,NaN,634.52,7411.0,-3646.0
3969,7944,1,T1,NaN,NaN,NaN,NaN,1643.29,1773.0,-1.0
4027,8051,1,NaN,NaN,NaN,NaN,NaN,943.16,1.0,-1.0
4208,8389,1,T1,NaN,NaN,NaN,NaN,257.40,-2356124.0,-1.0
4607,9185,1,NaN,NaN,NaN,NaN,NaN,1511.54,-2296503.0,-1.0
4680,9310,1,T3,T1,T145,NaN,NaN,792.23,-2341368.0,-1.0
4707,9368,1,NaN,NaN,NaN,NaN,NaN,708.96,1.0,-1.0
4721,9391,1,T1,NaN,NaN,NaN,NaN,190.90,5136.0,-1.0
4725,9401,1,NaN,NaN,NaN,NaN,NaN,1499.82,3235.0,-1.0
...,...,...,...,...,...,...,...,...,...,...
1179216,2358368,1,NaN,NaN,NaN,NaN,NaN,618.67,898.0,-2372.0
1179411,2358767,1,NaN,NaN,NaN,NaN,NaN,912.94,7877.0,-1.0
1179445,2358828,1,NaN,NaN,NaN,NaN,NaN,662.62,1630327.0,-1.0
1179527,2359000,1,NaN,NaN,NaN,NaN,NaN,204.95,12469.0,-1.0
1179827,2359612,1,NaN,NaN,NaN,NaN,NaN,232.09,52953.0,-1.0
1180250,2360460,1,NaN,NaN,NaN,NaN,NaN,962.60,469.0,-2389.0
1180336,2360663,1,NaN,NaN,NaN,NaN,NaN,1331.13,1.0,-1.0
1180633,2361261,1,NaN,NaN,NaN,NaN,NaN,662.63,1123861.0,-1.0
1180745,2361466,1,NaN,NaN,NaN,NaN,NaN,415.71,3782.0,-1.0
1180835,2361638,1,NaN,NaN,NaN,NaN,NaN,1658.83,5700.0,2306493.0
1180867,2361690,1,NaN,NaN,NaN,NaN,NaN,566.34,8918.0,2313401.0
1180968,2361885,1,NaN,NaN,NaN,NaN,NaN,912.95,1.0,-1.0
1181307,2362586,1,NaN,NaN,NaN,NaN,NaN,1363.59,1.0,-1.0
1182009,2364000,1,NaN,NaN,NaN,NaN,NaN,634.83,3951.0,-3188.0
1182013,2364009,1,NaN,NaN,NaN,NaN,NaN,255.44,1416.0,-1.0
1182410,2364844,1,NaN,NaN,NaN,NaN,NaN,680.98,11604.0,-1.0
1182423,2364867,1,NaN,NaN,NaN,NaN,NaN,606.10,52139.0,-1.0
1182441,2364898,1,NaN,NaN,NaN,NaN,NaN,694.35,60585.0,-1.0
1182688,2365393,1,NaN,NaN,NaN,NaN,NaN,448.83,1.0,-1.0
1182769,2365555,1,NaN,NaN,NaN,NaN,NaN,1599.31,28088.0,-1.0
1182795,2365611,1,NaN,NaN,NaN,NaN,NaN,961.47,84624.0,-1.0
1182803,2365624,1,NaN,NaN,NaN,NaN,NaN,962.77,2244.0,-1.0
1182922,2365868,1,NaN,NaN,NaN,NaN,NaN,422.94,2912.0,-1.0
1182924,2365878,1,NaN,NaN,NaN,NaN,NaN,670.62,5885.0,-1.0
1182925,2365879,1,NaN,NaN,NaN,NaN,NaN,670.62,1.0,-1.0
1183037,2366099,1,NaN,NaN,NaN,NaN,NaN,554.69,11623.0,-1.0
1183052,2366124,1,NaN,NaN,NaN,NaN,NaN,1547.21,4688.0,-1.0
1183093,2366209,1,NaN,NaN,NaN,NaN,NaN,889.29,62884.0,-1.0
1183242,2366505,1,NaN,NaN,NaN,NaN,NaN,188.96,922.0,2309211.0
1183337,2366692,1,NaN,NaN,NaN,NaN,NaN,677.68,7601.0,-1.0

In [7]:
def get_mindate():
    directory = 'data/'
    trainfile = 'train_date.csv'
    testfile = 'test_date.csv'
    
    features = None
    subset = None
    
    for i, chunk in enumerate(pd.read_csv(directory + trainfile,
                                          usecols=usefuldatefeatures,
                                          chunksize=50000,
                                          low_memory=False)):
        print(i)
        
        if features is None:
            features = list(chunk.columns)
            features.remove('Id')
        
        df_mindate_chunk = chunk[['Id']].copy()
        df_mindate_chunk['mindate'] = chunk[features].min(axis=1).values
        
        if subset is None:
            subset = df_mindate_chunk.copy()
        else:
            subset = pd.concat([subset, df_mindate_chunk])
            
        del chunk
        gc.collect()

    for i, chunk in enumerate(pd.read_csv(directory + testfile,
                                          usecols=usefuldatefeatures,
                                          chunksize=50000,
                                          low_memory=False)):
        print(i)
        
        df_mindate_chunk = chunk[['Id']].copy()
        df_mindate_chunk['mindate'] = chunk[features].min(axis=1).values
        subset = pd.concat([subset, df_mindate_chunk])
        
        del chunk
        gc.collect()      
        
    return subset


df_mindate = get_mindate()

# Group by mindate and id
df_mindate.sort_values(by=['mindate', 'Id'], inplace=True)

# Subtracts id from previous id
df_mindate['mindate_id_diff'] = df_mindate.Id.diff()

# Make a NaN array with the same shape as df_mindate.mindate_id_diff
# Fill it with the sign flipped, starting at index 1
midr = np.full_like(df_mindate.mindate_id_diff.values, np.nan)
midr[0:-1] = -df_mindate.mindate_id_diff.values[1:]

df_mindate['mindate_id_diff_reverse'] = midr

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [1]:
def mcc(tp, tn, fp, fn):
    sup = tp * tn - fp * fn
    inf = (tp + fp) * (tp + fn) * (tn + fp) * (tn + fn)
    if inf == 0:
        return 0
    else:
        return sup / np.sqrt(inf)


def eval_mcc(y_true, y_prob, show=False):
    idx = np.argsort(y_prob)
    y_true_sort = y_true[idx]
    n = y_true.shape[0]
    nump = 1.0 * np.sum(y_true)  # number of positive
    numn = n - nump  # number of negative
    tp = nump
    tn = 0.0
    fp = numn
    fn = 0.0
    best_mcc = 0.0
    best_id = -1
    mccs = np.zeros(n)
    for i in range(n):
        if y_true_sort[i] == 1:
            tp -= 1.0
            fn += 1.0
        else:
            fp -= 1.0
            tn += 1.0
        new_mcc = mcc(tp, tn, fp, fn)
        mccs[i] = new_mcc
        if new_mcc >= best_mcc:
            best_mcc = new_mcc
            best_id = i
    if show:
        best_proba = y_prob[idx[best_id]]
        y_pred = (y_prob > best_proba).astype(int)
        return best_proba, best_mcc, y_pred
    else:
        return best_mcc


def mcc_eval(y_prob, dtrain):
    y_true = dtrain.get_label()
    best_mcc = eval_mcc(y_true, y_prob)
    return 'MCC', best_mcc


def create_feature_map(features):
    outfile = open('xgb.fmap', 'w')
    for i, feat in enumerate(features):
        outfile.write('{0}\t{1}\tq\n'.format(i, feat))
    outfile.close()


def get_importance(gbm, features):
    create_feature_map(features)
    importance = gbm.get_fscore(fmap='xgb.fmap')
    importance = sorted(importance.items(), key=itemgetter(1), reverse=True)
    return importance


def LeaveOneOut(data1, data2, columnName, useLOO=False):
    grpOutcomes = data1.groupby(columnName)['Response'].mean().reset_index()
    grpCount = data1.groupby(columnName)['Response'].count().reset_index()
    grpOutcomes['cnt'] = grpCount.Response
    if(useLOO):
        grpOutcomes = grpOutcomes[grpOutcomes.cnt > 1]
    grpOutcomes.drop('cnt', inplace=True, axis=1)
    outcomes = data2['Response'].values
    x = pd.merge(data2[[columnName, 'Response']], grpOutcomes,
                 suffixes=('x_', ''),
                 how='left',
                 on=columnName,
                 left_index=True)['Response']
    if(useLOO):
        x = ((x*x.shape[0])-outcomes)/(x.shape[0]-1)
        #  x = x + np.random.normal(0, .01, x.shape[0])
    return x.fillna(x.mean())


def GrabData():
    directory = 'data/'
    trainfiles = ['train_categorical.csv',
                  'train_date.csv',
                  'train_numeric.csv']
    testfiles = ['test_categorical.csv',
                 'test_date.csv',
                 'test_numeric.csv']

    cols = [['Id',
             'L1_S24_F1559', 'L3_S32_F3851',
             'L1_S24_F1827', 'L1_S24_F1582',
             'L3_S32_F3854', 'L1_S24_F1510',
             'L1_S24_F1525'],
            ['Id',
             'L3_S30_D3496', 'L3_S30_D3506',
             'L3_S30_D3501', 'L3_S30_D3516',
             'L3_S30_D3511'],
            ['Id',
             'L1_S24_F1846', 'L3_S32_F3850',
             'L1_S24_F1695', 'L1_S24_F1632',
             'L3_S33_F3855', 'L1_S24_F1604',
             'L3_S29_F3407', 'L3_S33_F3865',
             'L3_S38_F3952', 'L1_S24_F1723',
             'Response']]
    traindata = None
    testdata = None
    for i, f in enumerate(trainfiles):
        print(f)
        subset = None
        for i, chunk in enumerate(pd.read_csv(directory + f,
                                              usecols=cols[i],
                                              chunksize=50000,
                                              low_memory=False)):
            print(i)
            if subset is None:
                subset = chunk.copy()
            else:
                subset = pd.concat([subset, chunk])
            del chunk
            gc.collect()
        if traindata is None:
            traindata = subset.copy()
        else:
            traindata = pd.merge(traindata, subset.copy(), on="Id")
        del subset
        gc.collect()
    del cols[2][-1]  # Test doesn't have response!
    for i, f in enumerate(testfiles):
        print(f)
        subset = None
        for i, chunk in enumerate(pd.read_csv(directory + f,
                                              usecols=cols[i],
                                              chunksize=50000,
                                              low_memory=False)):
            print(i)
            if subset is None:
                subset = chunk.copy()
            else:
                subset = pd.concat([subset, chunk])
            del chunk
            gc.collect()
        if testdata is None:
            testdata = subset.copy()
        else:
            testdata = pd.merge(testdata, subset.copy(), on="Id")
        del subset
        gc.collect()
        
    traindata = traindata.merge(df_mindate, on='Id')
    testdata = testdata.merge(df_mindate, on='Id')
        
    testdata['Response'] = 0  # Add Dummy Value
    visibletraindata = traindata[::2]
    blindtraindata = traindata[1::2]
    print(blindtraindata.columns)
    for i in range(2):
        for col in cols[i][1:]:
            print(col)
            blindtraindata.loc[:, col] = LeaveOneOut(visibletraindata,
                                                     blindtraindata,
                                                     col, False).values
            testdata.loc[:, col] = LeaveOneOut(visibletraindata,
                                               testdata, col, False).values
    del visibletraindata
    gc.collect()
    testdata.drop('Response', inplace=True, axis=1)
    return blindtraindata, testdata


def Train():
    train, test = GrabData()
    print('Train:', train.shape)
    print('Test', test.shape)
    features = list(train.columns)
    features.remove('Response')
    features.remove('Id')
    print(features)
    num_rounds = 50
    params = {}
    params['objective'] = "binary:logistic"
    params['eta'] = 0.021
    params['max_depth'] = 7
    params['colsample_bytree'] = 0.82
    params['min_child_weight'] = 3
    params['base_score'] = 0.005
    params['silent'] = True

    print('Fitting')
    trainpredictions = None
    testpredictions = None

    dvisibletrain = \
        xgb.DMatrix(train[features],
                    train.Response,
                    silent=True)
    dtest = \
        xgb.DMatrix(test[features],
                    silent=True)

    folds = 1
    for i in range(folds):
        print('Fold:', i)
        params['seed'] = i
        watchlist = [(dvisibletrain, 'train'), (dvisibletrain, 'val')]
        clf = xgb.train(params, dvisibletrain,
                        num_boost_round=num_rounds,
                        evals=watchlist,
                        early_stopping_rounds=20,
                        feval=mcc_eval,
                        maximize=True
                        )
        limit = clf.best_iteration+1
        # limit = clf.best_ntree_limit
        predictions = \
            clf.predict(dvisibletrain, ntree_limit=limit)

        best_proba, best_mcc, y_pred = eval_mcc(train.Response,
                                                predictions,
                                                True)
        print('tree limit:', limit)
        print('mcc:', best_mcc)
        print(matthews_corrcoef(train.Response,
                                y_pred))
        if(trainpredictions is None):
            trainpredictions = predictions
        else:
            trainpredictions += predictions
        predictions = clf.predict(dtest, ntree_limit=limit)
        if(testpredictions is None):
            testpredictions = predictions
        else:
            testpredictions += predictions
        imp = get_importance(clf, features)
        print('Importance array: ', imp)

    best_proba, best_mcc, y_pred = eval_mcc(train.Response,
                                            trainpredictions/folds,
                                            True)
    print(matthews_corrcoef(train.Response,
                            y_pred))

    submission = pd.DataFrame({"Id": train.Id,
                               "Prediction": trainpredictions/folds,
                               "Response": train.Response})
    submission[['Id',
                'Prediction',
                'Response']].to_csv('rawtrainxgbsubmission'+str(folds)+'.csv',
                                    index=False)

    submission = pd.DataFrame({"Id": test.Id.values,
                               "Response": testpredictions/folds})
    submission[['Id', 'Response']].to_csv('rawxgbsubmission'+str(folds)+'.csv',
                                          index=False)
    y_pred = (testpredictions/folds > .08).astype(int)
    submission = pd.DataFrame({"Id": test.Id.values,
                               "Response": y_pred})
    submission[['Id', 'Response']].to_csv('xgbsubmission'+str(folds)+'.csv',
                                          index=False)

if __name__ == "__main__":
    print('Started')
    Train()
    print('Finished')

ERROR: An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

KeyboardInterrupt: