In [1]:
import numpy as np
import pandas as pd
import os
import ast

In [2]:
cwd = os.getcwd()
print(cwd)
datapath = cwd + '/../'

/Users/nathan/Documents/Stats/Bosch Kaggle/bosch

In [3]:
successfail = pd.read_csv(datapath + 'response_code.csv', index_col = 0)

In [4]:
# date_ids = pd.read_csv(datapath + 'date_ids.csv', nrows = 10)
# out of memory error!

In [5]:
print(successfail.head())

    Response
Id
4          0
6          0
7          0
9          0
11         0

In [6]:
date_iter_csv = pd.read_csv(datapath + 'date_ids.csv',
                            iterator = True,
                            chunksize = 3,
                            index_col = 0)

In [9]:
# This part takes a long time!
chunk_num = 0
row_num = 0
successes = np.zeros(1156)
failures = np.zeros(1156)
date_ids_df = pd.DataFrame({'Date':0,
                            'successes':successes, 
                            'failures':failures})
for chunk in date_iter_csv:
    print('row number: ', row_num, '/1156')
    for j in chunk.iterrows():
        row_index, row_data = j
        date_ids_df.iloc[row_num, 0] = row_index
        for item in ast.literal_eval(row_data[0]):
            temp_result = successfail.loc[item, 'Response']
            if temp_result == 0:
                successes[row_num] += 1
            elif temp_result == 1:
                failures[row_num] += 1
        row_num += 1
    date_ids_df['failures'] = failures
    date_ids_df['successes'] = successes
    date_ids_df['totals'] = date_ids_df.failures + date_ids_df.successes
    date_ids_df.to_csv('../date_ids_df.csv', index = False)
    print(date_ids_df.iloc[row_num - 1,])

row number:  0 /1156
Date         L0_S10_D216
failures            1223
successes         223317
totals            224540
Name: 2, dtype: object
row number:  3 /1156
Date         L0_S10_D231
failures            1223
successes         223304
totals            224527
Name: 5, dtype: object
row number:  6 /1156
Date         L0_S10_D246
failures            1223
successes         223300
totals            224523
Name: 8, dtype: object
row number:  9 /1156
Date         L0_S10_D261
failures            1223
successes         223300
totals            224523
Name: 11, dtype: object
row number:  12 /1156
Date         L0_S10_D276
failures            1223
successes         223300
totals            224523
Name: 14, dtype: object
row number:  15 /1156
Date         L0_S11_D288
failures            1193
successes         224259
totals            225452
Name: 17, dtype: object
row number:  18 /1156
Date         L0_S11_D300
failures            1193
successes         224259
totals            225452
Name: 20, dtype: object
row number:  21 /1156
Date         L0_S11_D312
failures            1193
successes         224259
totals            225452
Name: 23, dtype: object
row number:  24 /1156
Date         L0_S11_D324
failures            1193
successes         224259
totals            225452
Name: 26, dtype: object
row number:  27 /1156
Date         L0_S12_D333
failures            1323
successes         240738
totals            242061
Name: 29, dtype: object
row number:  30 /1156
Date         L0_S12_D339
failures            1323
successes         240738
totals            242061
Name: 32, dtype: object
row number:  33 /1156
Date         L0_S12_D345
failures            1323
successes         240738
totals            242061
Name: 35, dtype: object
row number:  36 /1156
Date         L0_S12_D351
failures            1323
successes         240738
totals            242061
Name: 38, dtype: object
row number:  39 /1156
Date         L0_S13_D357
failures            1323
successes         240742
totals            242065
Name: 41, dtype: object
row number:  42 /1156
Date         L0_S14_D368
failures             681
successes         119944
totals            120625
Name: 44, dtype: object
row number:  45 /1156
Date         L0_S14_D380
failures             681
successes         119944
totals            120625
Name: 47, dtype: object
row number:  48 /1156
Date         L0_S14_D392
failures             681
successes         119944
totals            120625
Name: 50, dtype: object
row number:  51 /1156
Date         L0_S15_D401
failures             640
successes         120805
totals            121445
Name: 53, dtype: object
row number:  54 /1156
Date         L0_S15_D410
failures             640
successes         120805
totals            121445
Name: 56, dtype: object
row number:  57 /1156
Date         L0_S15_D419
failures             640
successes         120805
totals            121445
Name: 59, dtype: object
row number:  60 /1156
Date         L0_S17_D432
failures             662
successes         122365
totals            123027
Name: 62, dtype: object
row number:  63 /1156
Date         L0_S18_D441
failures             654
successes         120427
totals            121081
Name: 65, dtype: object
row number:  66 /1156
Date         L0_S18_D451
failures             654
successes         120427
totals            121081
Name: 68, dtype: object
row number:  69 /1156
Date         L0_S19_D457
failures             669
successes         120358
totals            121027
Name: 71, dtype: object
row number:  72 /1156
Date         L0_S1_D26
failures          3606
successes       670296
totals          673902
Name: 74, dtype: object
row number:  75 /1156
Date         L0_S20_D464
failures            1323
successes         240788
totals            242111
Name: 77, dtype: object
row number:  78 /1156
Date         L0_S21_D469
failures             461
successes          80948
totals             81409
Name: 80, dtype: object
row number:  81 /1156
Date         L0_S21_D484
failures             461
successes          80912
totals             81373
Name: 83, dtype: object
row number:  84 /1156
Date         L0_S21_D499
failures             461
successes          80907
totals             81368
Name: 86, dtype: object
row number:  87 /1156
Date         L0_S21_D514
failures             461
successes          80907
totals             81368
Name: 89, dtype: object
row number:  90 /1156
Date         L0_S21_D529
failures             461
successes          80907
totals             81368
Name: 92, dtype: object
row number:  93 /1156
Date         L0_S22_D543
failures             428
successes          80172
totals             80600
Name: 95, dtype: object
row number:  96 /1156
Date         L0_S22_D558
failures             428
successes          80167
totals             80595
Name: 98, dtype: object
row number:  99 /1156
Date         L0_S22_D573
failures             428
successes          80163
totals             80591
Name: 101, dtype: object
row number:  102 /1156
Date         L0_S22_D588
failures             428
successes          80163
totals             80591
Name: 104, dtype: object
row number:  105 /1156
Date         L0_S22_D603
failures             428
successes          80163
totals             80591
Name: 107, dtype: object
row number:  108 /1156
Date         L0_S23_D617
failures             434
successes          79856
totals             80290
Name: 110, dtype: object
row number:  111 /1156
Date         L0_S23_D629
failures             434
successes          79856
totals             80290
Name: 113, dtype: object
row number:  114 /1156
Date         L0_S23_D641
failures             434
successes          79856
totals             80290
Name: 116, dtype: object
row number:  117 /1156
Date         L0_S23_D653
failures             434
successes          79856
totals             80290
Name: 119, dtype: object
row number:  120 /1156
Date         L0_S23_D665
failures             434
successes          79856
totals             80290
Name: 122, dtype: object
row number:  123 /1156
Date         L0_S2_D34
failures          1817
successes       337957
totals          339774
Name: 125, dtype: object
row number:  126 /1156
Date         L0_S2_D46
failures          1817
successes       337957
totals          339774
Name: 128, dtype: object
row number:  129 /1156
Date         L0_S2_D58
failures          1817
successes       337957
totals          339774
Name: 131, dtype: object
row number:  132 /1156
Date         L0_S3_D102
failures           1792
successes        332916
totals           334708
Name: 134, dtype: object
row number:  135 /1156
Date         L0_S3_D78
failures          1792
successes       332916
totals          334708
Name: 137, dtype: object
row number:  138 /1156
Date         L0_S3_D90
failures          1792
successes       332916
totals          334708
Name: 140, dtype: object
row number:  141 /1156
Date         L0_S4_D106
failures           1800
successes        333495
totals           335295
Name: 143, dtype: object
row number:  144 /1156
Date         L0_S5_D117
failures           1811
successes        337701
totals           339512
Name: 146, dtype: object
row number:  147 /1156
Date         L0_S6_D127
failures           1805
successes        337183
totals           338988
Name: 149, dtype: object
row number:  150 /1156
Date         L0_S7_D137
failures           1805
successes        333893
totals           335698
Name: 152, dtype: object
row number:  153 /1156
Date         L0_S7_D141
failures           1805
successes        333893
totals           335698
Name: 155, dtype: object
row number:  156 /1156
Date         L0_S8_D147
failures           3606
successes        670275
totals           673881
Name: 158, dtype: object
row number:  159 /1156
Date         L0_S9_D152
failures           1196
successes        224483
totals           225679
Name: 161, dtype: object
row number:  162 /1156
Date         L0_S9_D167
failures           1196
successes        224475
totals           225671
Name: 164, dtype: object
row number:  165 /1156
Date         L0_S9_D182
failures           1196
successes        224463
totals           225659
Name: 167, dtype: object
row number:  168 /1156
Date         L0_S9_D197
failures           1196
successes        224463
totals           225659
Name: 170, dtype: object
row number:  171 /1156
Date         L0_S9_D212
failures           1196
successes        224463
totals           225659
Name: 173, dtype: object
row number:  174 /1156
Date         L1_S24_D1005
failures               66
successes           11813
totals              11879
Name: 176, dtype: object
row number:  177 /1156
Date         L1_S24_D1011
failures               66
successes           11813
totals              11879
Name: 179, dtype: object
row number:  180 /1156
Date         L1_S24_D1018
failures               64
successes           11887
totals              11951
Name: 182, dtype: object
row number:  183 /1156
Date         L1_S24_D1033
failures               64
successes           11887
totals              11951
Name: 185, dtype: object
row number:  186 /1156
Date         L1_S24_D1048
failures               64
successes           11887
totals              11951
Name: 188, dtype: object
row number:  189 /1156
Date         L1_S24_D1062
failures              130
successes           23697
totals              23827
Name: 191, dtype: object
row number:  192 /1156
Date         L1_S24_D1074
failures              130
successes           23697
totals              23827
Name: 194, dtype: object
row number:  195 /1156
Date         L1_S24_D1085
failures              130
successes           23697
totals              23827
Name: 197, dtype: object
row number:  198 /1156
Date         L1_S24_D1096
failures              130
successes           23697
totals              23827
Name: 200, dtype: object
row number:  201 /1156
Date         L1_S24_D1108
failures              130
successes           23697
totals              23827
Name: 203, dtype: object
row number:  204 /1156
Date         L1_S24_D1120
failures              203
successes           26999
totals              27202
Name: 206, dtype: object
row number:  207 /1156
Date         L1_S24_D1132
failures              203
successes           26999
totals              27202
Name: 209, dtype: object
row number:  210 /1156
Date         L1_S24_D1141
failures              203
successes           26974
totals              27177
Name: 212, dtype: object
row number:  213 /1156
Date         L1_S24_D1149
failures              203
successes           26974
totals              27177
Name: 215, dtype: object
row number:  216 /1156
Date         L1_S24_D1155
failures              200
successes           26612
totals              26812
Name: 218, dtype: object
row number:  219 /1156
Date         L1_S24_D1168
failures              203
successes           26994
totals              27197
Name: 221, dtype: object
row number:  222 /1156
Date         L1_S24_D1175
failures              203
successes           26994
totals              27197
Name: 224, dtype: object
row number:  225 /1156
Date         L1_S24_D1186
failures               91
successes           13550
totals              13641
Name: 227, dtype: object
row number:  228 /1156
Date         L1_S24_D1199
failures               91
successes           13550
totals              13641
Name: 230, dtype: object
row number:  231 /1156
Date         L1_S24_D1214
failures               91
successes           13550
totals              13641
Name: 233, dtype: object
row number:  234 /1156
Date         L1_S24_D1227
failures               91
successes           13550
totals              13641
Name: 236, dtype: object
row number:  237 /1156
Date         L1_S24_D1242
failures               91
successes           13550
totals              13641
Name: 239, dtype: object
row number:  240 /1156
Date         L1_S24_D1257
failures               91
successes           13550
totals              13641
Name: 242, dtype: object
row number:  243 /1156
Date         L1_S24_D1272
failures               91
successes           13550
totals              13641
Name: 245, dtype: object
row number:  246 /1156
Date         L1_S24_D1285
failures              113
successes           13450
totals              13563
Name: 248, dtype: object
row number:  249 /1156
Date         L1_S24_D1300
failures              113
successes           13450
totals              13563
Name: 251, dtype: object
row number:  252 /1156
Date         L1_S24_D1313
failures              113
successes           13450
totals              13563
Name: 254, dtype: object
row number:  255 /1156
Date         L1_S24_D1328
failures              113
successes           13450
totals              13563
Name: 257, dtype: object
row number:  258 /1156
Date         L1_S24_D1343
failures              113
successes           13450
totals              13563
Name: 260, dtype: object
row number:  261 /1156
Date         L1_S24_D1358
failures              113
successes           13450
totals              13563
Name: 263, dtype: object
row number:  264 /1156
Date         L1_S24_D1373
failures              104
successes           13456
totals              13560
Name: 266, dtype: object
row number:  267 /1156
Date         L1_S24_D1388
failures              104
successes           13456
totals              13560
Name: 269, dtype: object
row number:  270 /1156
Date         L1_S24_D1403
failures              104
successes           13456
totals              13560
Name: 272, dtype: object
row number:  273 /1156
Date         L1_S24_D1418
failures               99
successes           13497
totals              13596
Name: 275, dtype: object
row number:  276 /1156
Date         L1_S24_D1433
failures               99
successes           13497
totals              13596
Name: 278, dtype: object
row number:  279 /1156
Date         L1_S24_D1448
failures               99
successes           13497
totals              13596
Name: 281, dtype: object
row number:  282 /1156
Date         L1_S24_D1461
failures              203
successes           26949
totals              27152
Name: 284, dtype: object
row number:  285 /1156
Date         L1_S24_D1472
failures              203
successes           26949
totals              27152
Name: 287, dtype: object
row number:  288 /1156
Date         L1_S24_D1484
failures              203
successes           26949
totals              27152
Name: 290, dtype: object
row number:  291 /1156
Date         L1_S24_D1496
failures              203
successes           26949
totals              27152
Name: 293, dtype: object
row number:  294 /1156
Date         L1_S24_D1508
failures              203
successes           26949
totals              27152
Name: 296, dtype: object
row number:  297 /1156
Date         L1_S24_D1515
failures             1192
successes          131715
totals             132907
Name: 299, dtype: object
row number:  300 /1156
Date         L1_S24_D1522
failures             1190
successes          131382
totals             132572
Name: 302, dtype: object
row number:  303 /1156
Date         L1_S24_D1536
failures             1190
successes          131380
totals             132570
Name: 305, dtype: object
row number:  306 /1156
Date         L1_S24_D1550
failures             1190
successes          131382
totals             132572
Name: 308, dtype: object
row number:  309 /1156
Date         L1_S24_D1562
failures                0
successes              32
totals                 32
Name: 311, dtype: object
row number:  312 /1156
Date         L1_S24_D1570
failures             1192
successes          131714
totals             132906
Name: 314, dtype: object
row number:  315 /1156
Date         L1_S24_D1576
failures             1192
successes          131714
totals             132906
Name: 317, dtype: object
row number:  318 /1156
Date         L1_S24_D1587
failures              607
successes           65976
totals              66583
Name: 320, dtype: object
row number:  321 /1156
Date         L1_S24_D1601
failures              607
successes           65976
totals              66583
Name: 323, dtype: object
row number:  324 /1156
Date         L1_S24_D1615
failures              607
successes           65976
totals              66583
Name: 326, dtype: object
row number:  327 /1156
Date         L1_S24_D1629
failures              607
successes           65976
totals              66583
Name: 329, dtype: object
row number:  330 /1156
Date         L1_S24_D1644
failures              607
successes           65976
totals              66583
Name: 332, dtype: object
row number:  333 /1156
Date         L1_S24_D1659
failures              607
successes           65976
totals              66583
Name: 335, dtype: object
row number:  336 /1156
Date         L1_S24_D1674
failures              609
successes           65891
totals              66500
Name: 338, dtype: object
row number:  339 /1156
Date         L1_S24_D1687
failures              609
successes           65891
totals              66500
Name: 341, dtype: object
row number:  342 /1156
Date         L1_S24_D1702
failures              609
successes           65891
totals              66500
Name: 344, dtype: object
row number:  345 /1156
Date         L1_S24_D1715
failures              609
successes           65891
totals              66500
Name: 347, dtype: object
row number:  348 /1156
Date         L1_S24_D1730
failures              609
successes           65891
totals              66500
Name: 350, dtype: object
row number:  351 /1156
Date         L1_S24_D1745
failures              609
successes           65891
totals              66500
Name: 353, dtype: object
row number:  354 /1156
Date         L1_S24_D1760
failures              609
successes           65891
totals              66500
Name: 356, dtype: object
row number:  357 /1156
Date         L1_S24_D1775
failures              620
successes           65864
totals              66484
Name: 359, dtype: object
row number:  360 /1156
Date         L1_S24_D1790
failures              620
successes           65864
totals              66484
Name: 362, dtype: object
row number:  363 /1156
Date         L1_S24_D1805
failures              620
successes           65864
totals              66484
Name: 365, dtype: object
row number:  366 /1156
Date         L1_S24_D1813
failures              572
successes           65894
totals              66466
Name: 368, dtype: object
row number:  369 /1156
Date         L1_S24_D1819
failures              572
successes           65894
totals              66466
Name: 371, dtype: object
row number:  372 /1156
Date         L1_S24_D1825
failures              572
successes           65894
totals              66466
Name: 374, dtype: object
row number:  375 /1156
Date         L1_S24_D1830
failures             1192
successes          131730
totals             132922
Name: 377, dtype: object
row number:  378 /1156
Date         L1_S24_D1835
failures             1192
successes          131730
totals             132922
Name: 380, dtype: object
row number:  381 /1156
Date         L1_S24_D1841
failures             1192
successes          131730
totals             132922
Name: 383, dtype: object
row number:  384 /1156
Date         L1_S24_D1847
failures             1192
successes          131730
totals             132922
Name: 386, dtype: object
row number:  387 /1156
Date         L1_S24_D677
failures             130
successes          23732
totals             23862
Name: 389, dtype: object
row number:  390 /1156
Date         L1_S24_D689
failures             130
successes          23732
totals             23862
Name: 392, dtype: object
row number:  393 /1156
Date         L1_S24_D702
failures             130
successes          23696
totals             23826
Name: 395, dtype: object
row number:  396 /1156
Date         L1_S24_D716
failures             126
successes          23511
totals             23637
Name: 398, dtype: object
row number:  399 /1156
Date         L1_S24_D730
failures             130
successes          23696
totals             23826
Name: 401, dtype: object
row number:  402 /1156
Date         L1_S24_D743

In [ ]:
date_ids_df['failures'] = failures
date_ids_df['successes'] = successes
date_ids_df['totals'] = date_ids_df.failures + date_ids_df.successes

In [ ]:
print(date_ids_df.head(1))

In [ ]:
date_ids_df.to_csv('../date_ids_df.csv')